In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import TimeSeriesSplit
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_absolute_error
from sklearn.feature_extraction import DictVectorizer
from prophet import Prophet

/home/rogue-one/.local/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Dataset

In [2]:
data_df = pd.read_csv('Data.csv',sep=',')

In [3]:
df = data_df.sample(1000000).reset_index()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 11 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   index              1000000 non-null  int64
 1   date_time          1000000 non-null  object
 2   v_red              351738 non-null   float64
 3   current            1000000 non-null  float64
 4   power_factor       1000000 non-null  float64
 5   kwh                1000000 non-null  float64
 6   Source             1000000 non-null  object
 7   v_blue             313390 non-null   float64
 8   v_yellow           334872 non-null   float64
 9   consumer_device_9  1000000 non-null  int64
 10  consumer_device_x  1000000 non-null  int64
dtypes: float64(6), int64(3), object(2)
memory usage: 83.9+ MB

In [5]:
df_climate = pd.read_excel('climate_data/Kalam Climate Data.xlsx')
df_climate

,Date Time,Temperature (°C),Dewpoint Temperature (°C),U Wind Component (m/s),V Wind Component (m/s),Total Precipitation (mm),Snowfall (mm),Snow Cover (%)
0,2023-06-03 13:00:00,7.199731,-2.448126,-0.034195,0.060989,0.000377,0.000000,99.972656
1,2023-06-03 14:00:00,6.000620,-2.597540,-0.080688,0.018585,0.000398,0.000000,99.972656
2,2023-06-03 15:00:00,4.789972,-2.696951,0.057449,-0.352020,0.000418,0.000000,99.972656
3,2023-06-03 16:00:00,3.158746,-2.879324,0.051529,-0.608948,0.000420,0.000000,99.972656
4,2023-06-03 17:00:00,1.671426,-3.255606,0.056137,-0.739838,0.000420,0.000000,99.972656
...,...,...,...,...,...,...,...,...
12223,2024-10-24 20:00:00,-5.387305,-5.942435,0.045059,-1.108795,0.000394,0.000129,7.855469
12224,2024-10-24 21:00:00,-6.008307,-6.837256,0.015198,-1.194077,0.000395,0.000129,7.859375
12225,2024-10-24 22:00:00,-6.535742,-7.863989,-0.028015,-1.230438,0.000397,0.000129,7.863281
12226,2024-10-24 23:00:00,-6.864859,-8.328970,-0.058334,-1.272537,0.000399,0.000130,7.871094
12227,2024-10-25 00:00:00,-7.224661,-8.735220,-0.076797,-1.251801,0.000399,0.000131,7.875000

In [6]:
df_climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12228 entries, 0 to 12227
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date Time                  12228 non-null  datetime64[ns]
 1   Temperature (°C)           12228 non-null  float64
 2   Dewpoint Temperature (°C)  12228 non-null  float64
 3   U Wind Component (m/s)     12228 non-null  float64
 4   V Wind Component (m/s)     12228 non-null  float64
 5   Total Precipitation (mm)   12228 non-null  float64
 6   Snowfall (mm)              12228 non-null  float64
 7   Snow Cover (%)             12228 non-null  float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 764.4 KB

# Data Preprocessing

In [7]:
df.columns = df.columns.str.lower()

In [8]:
df_climate.columns = df_climate.columns.str.lower().str.replace('(','').str.replace(')','').str.replace(' ','_')

## Energy data preprocessing

In [9]:
df.columns

Index(['index', 'date_time', 'v_red', 'current', 'power_factor', 'kwh',
       'source', 'v_blue', 'v_yellow', 'consumer_device_9',
       'consumer_device_x'],
      dtype='object')

In [10]:
df.date_time = pd.to_datetime(df.date_time)

In [11]:
df['phase_type'] = np.where(
    (df['v_blue'].notna() & df['v_blue'] != 0.0) |
    (df['v_yellow'].notna() & df['v_yellow'] != 0.0),
      'three_phase','single_phase')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   index              1000000 non-null  int64
 1   date_time          1000000 non-null  datetime64[ns]
 2   v_red              351738 non-null   float64
 3   current            1000000 non-null  float64
 4   power_factor       1000000 non-null  float64
 5   kwh                1000000 non-null  float64
 6   source             1000000 non-null  object
 7   v_blue             313390 non-null   float64
 8   v_yellow           334872 non-null   float64
 9   consumer_device_9  1000000 non-null  int64
 10  consumer_device_x  1000000 non-null  int64
 11  phase_type         1000000 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(3), object(2)
memory usage: 91.6+ MB

In [13]:
#kwh to numeric
df['kwh'] = pd.to_numeric(df.kwh,errors='coerce')

In [14]:
#Extract user ID from the source column
df[['consumer_device','data_user']] = df['source'].str.extract(r'(consumer_device_\d+)_data_user_(\d+)')

In [15]:
df.head()

,index,date_time,v_red,current,power_factor,kwh,source,v_blue,v_yellow,consumer_device_9,consumer_device_x,phase_type,consumer_device,data_user
0,28189463,2024-01-07 21:10:00,NaN,0.00,0.00,0.0000,consumer_device_35_data_user_2,0.00,NaN,0,35,single_phase,consumer_device_35,2
1,22809568,2024-09-19 10:35:00,NaN,0.06,0.73,0.0007,consumer_device_2_data_user_8,191.89,NaN,0,2,three_phase,consumer_device_2,8
2,9354669,2023-07-13 14:50:00,0.0,0.00,0.00,0.0000,consumer_device_16_data_user_7,NaN,NaN,0,16,single_phase,consumer_device_16,7
3,27809267,2024-03-12 20:10:00,NaN,0.00,0.00,0.0000,consumer_device_35_data_user_12,NaN,0.0,0,35,single_phase,consumer_device_35,12
4,19267545,2024-06-29 12:25:00,0.0,0.00,0.00,0.0000,consumer_device_27_data_user_10,NaN,NaN,0,27,single_phase,consumer_device_27,10

In [16]:
# Aggregate to daily consumption per day
daily_energy = df.groupby(['data_user',pd.Grouper(key='date_time', freq='D')])['kwh'].sum().reset_index()
daily_energy

     data_user  date_time       kwh
0            1 2023-06-03  0.000000
1            1 2023-06-04  0.000000
2            1 2023-06-05  0.000000
3            1 2023-06-06  0.000000
4            1 2023-06-07  0.000000
...        ...        ...       ...
9480         9 2024-09-19  1.667508
9481         9 2024-09-20  3.887397
9482         9 2024-09-21  1.947876
9483         9 2024-09-22  1.338873
9484         9 2024-09-23  3.116136

[9485 rows x 3 columns]

In [17]:
df.isna().sum()

index                     0
date_time                 0
v_red                648262
current                   0
power_factor              0
kwh                       0
source                    0
v_blue               686610
v_yellow             665128
consumer_device_9         0
consumer_device_x         0
phase_type                0
consumer_device           0
data_user                 0
dtype: int64

In [18]:
df = df.fillna(0)

In [19]:
del df['consumer_device_9']

## Climate data preprocessing

In [20]:
df_climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12228 entries, 0 to 12227
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date_time                12228 non-null  datetime64[ns]
 1   temperature_°c           12228 non-null  float64
 2   dewpoint_temperature_°c  12228 non-null  float64
 3   u_wind_component_m/s     12228 non-null  float64
 4   v_wind_component_m/s     12228 non-null  float64
 5   total_precipitation_mm   12228 non-null  float64
 6   snowfall_mm              12228 non-null  float64
 7   snow_cover_%             12228 non-null  float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 764.4 KB

In [21]:
#resample to daily_data
climate_daily = df_climate.resample('D', on='date_time').agg(
    {
        'temperature_°c':'mean',
        'dewpoint_temperature_°c':'mean',
        'u_wind_component_m/s':'mean',
        'v_wind_component_m/s': 'mean',
        'total_precipitation_mm':'sum',
        'snowfall_mm':'sum'
    }).reset_index()

In [22]:
climate_daily

,date_time,temperature_°c,dewpoint_temperature_°c,u_wind_component_m/s,v_wind_component_m/s,total_precipitation_mm,snowfall_mm
0,2023-06-03,1.860280,-3.348664,0.025054,-0.657726,0.004557,0.000000e+00
1,2023-06-04,3.992740,-1.905203,-0.180909,-0.505298,0.024096,0.000000e+00
2,2023-06-05,4.794523,-3.781657,-0.145114,-0.498183,0.011580,1.166000e-06
3,2023-06-06,6.304390,-4.670615,0.018054,-0.478623,0.008914,5.220000e-08
4,2023-06-07,7.003922,-3.965763,0.083701,-0.516598,0.008649,0.000000e+00
...,...,...,...,...,...,...,...
506,2024-10-21,3.712101,-3.217974,-0.118125,-0.373651,0.008551,0.000000e+00
507,2024-10-22,2.515382,-2.358298,0.047106,-0.214380,0.010362,1.610100e-04
508,2024-10-23,0.315618,-0.711822,0.001728,-0.227600,0.056409,2.708602e-02
509,2024-10-24,-0.349515,-1.964442,0.045428,-0.506269,0.010772,4.633883e-03
510,2024-10-25,-7.224661,-8.735220,-0.076797,-1.251801,0.000399,1.310000e-04

In [23]:
# windspeed calculation
climate_daily['wind_speed'] = np.sqrt(
    climate_daily['u_wind_component_m/s']**2+climate_daily['v_wind_component_m/s']**2
)

In [24]:
climate_daily

,date_time,temperature_°c,dewpoint_temperature_°c,u_wind_component_m/s,v_wind_component_m/s,total_precipitation_mm,snowfall_mm,wind_speed
0,2023-06-03,1.860280,-3.348664,0.025054,-0.657726,0.004557,0.000000e+00,0.658203
1,2023-06-04,3.992740,-1.905203,-0.180909,-0.505298,0.024096,0.000000e+00,0.536706
2,2023-06-05,4.794523,-3.781657,-0.145114,-0.498183,0.011580,1.166000e-06,0.518888
3,2023-06-06,6.304390,-4.670615,0.018054,-0.478623,0.008914,5.220000e-08,0.478963
4,2023-06-07,7.003922,-3.965763,0.083701,-0.516598,0.008649,0.000000e+00,0.523335
...,...,...,...,...,...,...,...,...
506,2024-10-21,3.712101,-3.217974,-0.118125,-0.373651,0.008551,0.000000e+00,0.391879
507,2024-10-22,2.515382,-2.358298,0.047106,-0.214380,0.010362,1.610100e-04,0.219495
508,2024-10-23,0.315618,-0.711822,0.001728,-0.227600,0.056409,2.708602e-02,0.227606
509,2024-10-24,-0.349515,-1.964442,0.045428,-0.506269,0.010772,4.633883e-03,0.508303
510,2024-10-25,-7.224661,-8.735220,-0.076797,-1.251801,0.000399,1.310000e-04,1.254154

In [25]:
# Merge datasets
merged_df = pd.merge(
    daily_energy,
    climate_daily,
    on='date_time',
    how='left'
)

In [26]:
merged_df = merged_df.fillna({
    'temperature_°c': merged_df['temperature_°c'].mean(),
    'dewpoint_temperature_°c': merged_df['dewpoint_temperature_°c'].mean(),
    'wind_speed': merged_df['wind_speed'].mean() if 'wind_speed' in merged_df.columns else 0.0,
    'total_precipitation_mm':0.0,
    'snowfall_mm':0.0
})

In [27]:
merged_df.head()

,data_user,date_time,kwh,temperature_°c,dewpoint_temperature_°c,u_wind_component_m/s,v_wind_component_m/s,total_precipitation_mm,snowfall_mm,wind_speed
0,1,2023-06-03,0.0,1.860280,-3.348664,0.025054,-0.657726,0.004557,0.000000e+00,0.658203
1,1,2023-06-04,0.0,3.992740,-1.905203,-0.180909,-0.505298,0.024096,0.000000e+00,0.536706
2,1,2023-06-05,0.0,4.794523,-3.781657,-0.145114,-0.498183,0.011580,1.166000e-06,0.518888
3,1,2023-06-06,0.0,6.304390,-4.670615,0.018054,-0.478623,0.008914,5.220000e-08,0.478963
4,1,2023-06-07,0.0,7.003922,-3.965763,0.083701,-0.516598,0.008649,0.000000e+00,0.523335

# Feature Engineering

In [28]:
def define_features(df):
    df = df.copy()
    df['day_of_week'] = df['date_time'].dt.dayofweek
    df['day_of_month'] = df['date_time'].dt.day
    df['month'] = df['date_time'].dt.month
    df['is_weekend'] = df['day_of_week'].isin([5,6]).astype(int)
    df['season'] = (df['date_time'].dt.month % 12 +3)//3

    # Lag features - Using fillna to avoid dropping data
    for data_user in df.data_user.unique():
        user_mask = df.data_user == data_user
        df.loc[user_mask, 'kwh_lag7'] = df.loc[user_mask,'kwh'].shift(7).fillna(0)
        rolling = df.loc[user_mask,'kwh'].rolling(7,min_periods=1).mean()
        df.loc[user_mask,'kwh_rolling7'] = rolling
    return df
processed_df = define_features(merged_df)

In [29]:
# FInd users with sufficient data
user_counts = processed_df.groupby('data_user').size()
user_counts

data_user
1     479
10    479
11    478
12    457
13    457
14    457
15    457
16    457
17    457
18    457
19    340
2     479
20    339
21    339
3     479
4     479
5     479
6     479
7     479
8     479
9     479
dtype: int64

In [30]:
valid_users = user_counts[user_counts >= 10].index.to_list()
valid_users

['1',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '2',
 '20',
 '21',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9']

In [31]:
forecusting_df = processed_df[processed_df['data_user'].isin(valid_users)]
forecusting_df

,data_user,date_time,kwh,temperature_°c,dewpoint_temperature_°c,u_wind_component_m/s,v_wind_component_m/s,total_precipitation_mm,snowfall_mm,wind_speed,day_of_week,day_of_month,month,is_weekend,season,kwh_lag7,kwh_rolling7
0,1,2023-06-03,0.000000,1.860280,-3.348664,0.025054,-0.657726,0.004557,0.000000e+00,0.658203,5,3,6,1,3,0.000000,0.000000
1,1,2023-06-04,0.000000,3.992740,-1.905203,-0.180909,-0.505298,0.024096,0.000000e+00,0.536706,6,4,6,1,3,0.000000,0.000000
2,1,2023-06-05,0.000000,4.794523,-3.781657,-0.145114,-0.498183,0.011580,1.166000e-06,0.518888,0,5,6,0,3,0.000000,0.000000
3,1,2023-06-06,0.000000,6.304390,-4.670615,0.018054,-0.478623,0.008914,5.220000e-08,0.478963,1,6,6,0,3,0.000000,0.000000
4,1,2023-06-07,0.000000,7.003922,-3.965763,0.083701,-0.516598,0.008649,0.000000e+00,0.523335,2,7,6,0,3,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9480,9,2024-09-19,1.667508,10.415409,1.626889,-0.011655,-0.156432,0.005865,1.010000e-06,0.156865,3,19,9,0,4,2.129781,1.882487
9481,9,2024-09-20,3.887397,12.154204,1.086294,-0.133177,-0.239482,0.002294,0.000000e+00,0.274021,4,20,9,0,4,2.610032,2.064968
9482,9,2024-09-21,1.947876,13.219773,1.432244,-0.098764,-0.306270,0.000825,0.000000e+00,0.321800,5,21,9,1,4,2.414642,1.998287
9483,9,2024-09-22,1.338873,14.080013,1.195233,-0.069137,-0.309662,0.000047,0.000000e+00,0.317286,6,22,9,1,4,2.269836,1.865292
9484,9,2024-09-23,3.116136,13.384137,3.404842,0.050238,-0.223926,0.000249,0.000000e+00,0.229492,0,23,9,0,4,1.323780,2.121343

# Training and Validation sets

In [41]:
df_full_train,df_test = train_test_split(processed_df,test_size=0.2,random_state=1,shuffle=True)
df_train,df_val = train_test_split(df_full_train,test_size=0.25,random_state=1,shuffle=True)

In [42]:
df_full_train.shape,df_train.shape, df_val.shape,df_test.shape

((7588, 17), (5691, 17), (1897, 17), (1897, 17))

## Prophet Model Implementation

In [43]:
def prophet_forecast(user_df,periods=30):
    return

In [44]:
## Not enough data for  prophet

last_date = forecusting_df.date_time.max()
mean_kwh = forecusting_df.kwh.mean() if len(forecusting_df) > 0 else 0
future_dates = pd.date_range(start=last_date+pd.Timedelta(days=1),periods=30)

small_data_forecast = pd.DataFrame({
        'ds':future_dates,
        'yhat':[mean_kwh]*30 # [mean_kwh]*periods
    })

In [46]:
model = Prophet(
    yearly_seasonality=True,
    weekly_seasonality=True,
    daily_seasonality=False,
    seasonality_mode='multiplicative', # Energy has multiplicative seasonality
    interval_width=0.5
)

In [47]:
forecusting_df.columns

Index(['data_user', 'date_time', 'kwh', 'temperature_°c',
       'dewpoint_temperature_°c', 'u_wind_component_m/s',
       'v_wind_component_m/s', 'total_precipitation_mm', 'snowfall_mm',
       'wind_speed', 'day_of_week', 'day_of_month', 'month', 'is_weekend',
       'season', 'kwh_lag7', 'kwh_rolling7'],
      dtype='object')

In [48]:
# Add regressors if available
for feature in ['temperature_°c','wind_speed']:
    if feature in forecusting_df.columns and not forecusting_df[feature].isna().all():
        model.add_regressor(feature)

In [50]:
# df preparation for prophet
prophet_df = forecusting_df.rename(
                columns={'date_time':'ds','kwh':'y'})[['ds','y'] + [col for col in  ['temperature_°c','wind_speed'] 
                if col in forecusting_df.columns and not forecusting_df[col].isna().all()]]

In [51]:
prophet_df

             ds         y  temperature_°c  wind_speed
0    2023-06-03  0.000000        1.860280    0.658203
1    2023-06-04  0.000000        3.992740    0.536706
2    2023-06-05  0.000000        4.794523    0.518888
3    2023-06-06  0.000000        6.304390    0.478963
4    2023-06-07  0.000000        7.003922    0.523335
...         ...       ...             ...         ...
9480 2024-09-19  1.667508       10.415409    0.156865
9481 2024-09-20  3.887397       12.154204    0.274021
9482 2024-09-21  1.947876       13.219773    0.321800
9483 2024-09-22  1.338873       14.080013    0.317286
9484 2024-09-23  3.116136       13.384137    0.229492

[9485 rows x 4 columns]

In [52]:
#handle zero values in y
prophet_df.y = prophet_df['y'].replace(0,1e-6)

#fit model
model.fit(prophet_df)

23:00:41 - cmdstanpy - INFO - Chain [1] start processing
23:00:42 - cmdstanpy - INFO - Chain [1] done processing

In [56]:
# create future df
future = model.make_future_dataframe(periods=30)

In [58]:
# regressor values to future dataframe
for feature in ['temperature_°c','wind_speed']:
    if feature in forecusting_df.columns and feature in prophet_df.columns:
        future[feature] = prophet_df[feature].mean()

In [59]:
# forecast
forecast = model.predict(future)
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,extra_regressors_multiplicative,extra_regressors_multiplicative_lower,extra_regressors_multiplicative_upper,multiplicative_terms,...,wind_speed,wind_speed_lower,wind_speed_upper,yearly,yearly_lower,yearly_upper,additive_terms,additive_terms_lower,additive_terms_upper,yhat
0,2023-06-03,-0.018610,-0.325658,0.389438,-0.018610,-0.018610,1.072939e-17,1.072939e-17,1.072939e-17,-1.478066,...,0.0,0.0,0.0,-1.656484,-1.656484,-1.656484,0.0,0.0,0.0,0.008897
1,2023-06-04,-0.018124,-0.326007,0.341539,-0.018124,-0.018124,1.072939e-17,1.072939e-17,1.072939e-17,-1.552946,...,0.0,0.0,0.0,-1.587278,-1.587278,-1.587278,0.0,0.0,0.0,0.010022
2,2023-06-05,-0.017638,-0.359787,0.339298,-0.017638,-0.017638,1.072939e-17,1.072939e-17,1.072939e-17,-1.536808,...,0.0,0.0,0.0,-1.505361,-1.505361,-1.505361,0.0,0.0,0.0,0.009468
3,2023-06-06,-0.017153,-0.345647,0.378509,-0.017153,-0.017153,1.072939e-17,1.072939e-17,1.072939e-17,-1.470177,...,0.0,0.0,0.0,-1.413521,-1.413521,-1.413521,0.0,0.0,0.0,0.008065
4,2023-06-07,-0.016667,-0.357179,0.382769,-0.016667,-0.016667,1.072939e-17,1.072939e-17,1.072939e-17,-1.505651,...,0.0,0.0,0.0,-1.314745,-1.314745,-1.314745,0.0,0.0,0.0,0.008428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,2024-10-19,1.251520,1.455511,2.173937,1.247244,1.255500,1.072939e-17,1.072939e-17,1.072939e-17,0.434601,...,0.0,0.0,0.0,0.256184,0.256184,0.256184,0.0,0.0,0.0,1.795432
505,2024-10-20,1.261023,1.272608,2.028017,1.256014,1.265361,1.072939e-17,1.072939e-17,1.072939e-17,0.332166,...,0.0,0.0,0.0,0.297834,0.297834,0.297834,0.0,0.0,0.0,1.679892
506,2024-10-21,1.270525,1.319448,2.019755,1.265064,1.275323,1.072939e-17,1.072939e-17,1.072939e-17,0.312496,...,0.0,0.0,0.0,0.343943,0.343943,0.343943,0.0,0.0,0.0,1.667560
507,2024-10-22,1.280028,1.383158,2.108022,1.274188,1.285074,1.072939e-17,1.072939e-17,1.072939e-17,0.336819,...,0.0,0.0,0.0,0.393475,0.393475,0.393475,0.0,0.0,0.0,1.711166
508,2024-10-23,1.289531,1.313301,1.970267,1.283311,1.295170,1.072939e-17,1.072939e-17,1.072939e-17,0.254331,...,0.0,0.0,0.0,0.445237,0.445237,0.445237,0.0,0.0,0.0,1.617499